@charset "UTF-8";

.tbl-r03 {
  width: 100%;
  table-layout: fixed;
}
.tbl-r03  th  {
  line-height: 26px;
  padding: 10px;
  text-align: center;
  border: solid #fff 1px;
  font-size: 18px;
  background-color: #2244aa;
  color: #fff;
}
.tbl-r03 td {
  width: 100％;
  border:solid #dedede 1px;
  padding-top: 10px;
  text-align: center;
}
.tbl-r03 tr:nth-child(2n) {
  background-color: #ecf1f2;  
}
 .tbl-r03 tbody tr:last-child {
   border-top: dashed #000000 2px;
 }
