@charset "UTF-8";

/* 回答はここに書いてね */

.text-box {
  text-align: center;
}
.text {
  display: inline-block;
  width: 90px;
  background-color: #e6f2ff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin {
  width: 90px;
  text-align: center;
  margin: auto;
  background-color: #e6f2ff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-box {
  display: table;
}
.table-c {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.inline {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  padding: 10px;
  background-color: #fff;
}
.position-double .q6__box {
  position: relative;
}
.position-fixation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
 .position-change {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}







/* 回答はここに書いてね */
